<!-- app.component.html -->
<!-- The toolbar will be rendered in this container. -->
  <div id="toolbar-container" style="position: fixed;"></div>
<!-- This container will become the editable. -->
<div class="border" id="editor" style="border: 1px solid teal;"></div>
